{% extends "base.html" %}
{% import "_timer.html" as timer %}
{% block title %}Create Game{% endblock %}
{% block content %}
    <h1>Create Game</h1>

    <div class="timer-center">
        {{ timer.widget(timer_start) }}
    </div>
    {{ timer.script(timer_start, timer_duration, url_for('create_status'), redirect_url=url_for('cancel_create')) }}

    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{{ url_for('create_game') }}">
        <table class="form-table">
            <tr>
                <td><label for="num_players">Number of players</label></td>
                <td>
                    <select id="num_players" name="num_players">
                        {% for n in num_players_options %}
                            <option value="{{ n }}" {% if n == num_players|int %}selected{% endif %}>{{ n }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="num_questions">Number of Questions</label></td>
                <td>
                    <select id="num_questions" name="num_questions">
                        {% for n in num_questions_options %}
                            <option value="{{ n }}" {% if n == num_questions|int %}selected{% endif %}>{{ n }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="answer_time">Time to Answer (s)</label></td>
                <td>
                    <select id="answer_time" name="answer_time">
                        {% for n in answer_time_options %}
                            <option value="{{ n }}" {% if n == answer_time|int %}selected{% endif %}>{{ n }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="num_choices">Number of choices</label></td>
                <td>
                    <select id="num_choices" name="num_choices">
                        {% for n in num_choices_options %}
                            <option value="{{ n }}" {% if n == num_choices|int %}selected{% endif %}>{{ n }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="color_scheme">Color scheme</label></td>
                <td>
                    <select id="color_scheme" name="color_scheme">
                        {% for code, info in color_schemes.items() %}
                            <option value="{{ code }}" {% if code == color_scheme %}selected{% endif %}>{{ info.label }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>

        <div class="button-row">
            <a class="btn btn-secondary" href="{{ url_for('create_game') }}?reset=1">Reset to Default</a>
            <a class="btn btn-secondary" href="{{ url_for('cancel_create') }}">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
{% endblock %}
