{% extends "base.html" %}
{% block title %}{{ t('welcome_heading') }}{% endblock %}
{% block content %}
    <img class="greeting-logo" src="{{ url_for('serve_image', filename=logo_filename) }}" alt="{{ t('title_read_the_room') }}">

    {% if error %}
        <ul class="errors">
            <li>{{ error }}</li>
        </ul>
    {% endif %}

    <form method="post" action="{{ url_for('welcome') }}">
        <label for="name" class="label-large">{{ t('name_question') }}</label>
        <input type="text" id="name" name="name" value="{{ last_name|default('', true) }}" autofocus>

        <div class="button-row">
            <a class="btn btn-secondary" href="{{ url_for('index') }}">{{ t('quit_button') }}</a>
            <button class="btn btn-primary btn-lg" type="submit">{{ t('join_button') }}</button>
        </div>
    </form>
{% endblock %}
